.options{
    position: absolute;
    width: 100%;
    top: 25%;
    display: grid;
    text-align: center;
    align-items: center;
}
.options a{
    background-color: rgba(120, 177, 120, 0.6);
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 10px;
    text-decoration: none;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}